.playlist {
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
    
}


.track-container {
    margin-bottom: 20px;
    background-color: #fff0f6;
    padding: 16px;
    border-radius: 12px;
    border: 1px dashed #f78fb3;
}